@font-face {
    font-family: "KodeMono";
    src: url("KodeMono-Regular.woff2") format("woff2");
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.screen_canvas {
    background-color: #A7A7A7;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}


.phone {
    background-color: #1F1F1F;
    width: 700px;
    height: 840px;
    padding-top: 32px;
    border-radius: 20px;
}


h1 {
  color: #AEA4B2;
  font-family: "KodeMono";
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

img {
    display: block;
    margin: auto;  
}


#historic_attend_chart {
  display: block;    
  background-color: #404040;
  width: 487px; 
  height: 302px;
  margin: 0 auto;
  border-radius: 10px;
}

.button-row {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding-top: 100px;
}

.button {
  background-color: #535353;
  color: #AEA4B2;
  font-family: "KodeMono";
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 10px;
  width: 229px;
  height: 246px;
}

.button3 {
  height: 84px;
  width: 142px;
  font-size: 22px;
}

.button4 {
  height: 84px;
  width: 142px;
  font-size: 22px;
}

.button5 {
  height: 84px;
  width: 142px;
  font-size: 22px;
}

.button6 {
  height: 84px;
  width: 142px;
  font-size: 22px;
}

#calendar_month {
  display: block;    
  background-color: #404040;
  width: 551px; 
  height: 500px;
  margin: 0 auto;
  border-radius: 10px;

}

.bottom-row {
  width: 660px;
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: max(10px);
}

.info-card {
  background-color: #404040;
  width: 340px;
  height: 84px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.label {
  color: #AEA4B2;
  font-family: "KodeMono";
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.value {
  color: #AEA4B2;
  font-family: "KodeMono";
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}