@font-face {
    font-family: "KodeMono";
    src: url("KodeMono-Regular.woff2") format("woff2");
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.screen_canvas {
    background-color: #A7A7A7;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}


.phone {
    background-color: #1F1F1F;
    width: 700px;
    height: 840px;
    padding-top: 32px;
}


h1 {
  color: #AEA4B2;
  font-family: "KodeMono";
  text-align: center;
}

img {
    display: block;
    margin: auto;  
}


#historic_attend_chart {
  display: block;    
  background-color: #404040;
  width: 487px; 
  height: 302px;
  margin: 0 auto;
  border-radius: 10px;
}
